<script context="module">
  import * as repo from "../../api/repositoryFacade";
  import Instrument from "../../components/Instrument.svelte";

  export async function preload(page, session) {
    const { id } = page.params;
    const instrument = await repo.getInstrument(id);
    if (instrument) {
      return { instrument };
    } else {
      this.error(404, "Instrument not found");
    }
  }
</script>

<script>
  export let instrument;
</script>

<svelte:head>
  <title>{instrument.name}</title>
</svelte:head>

<Instrument {instrument} />
