<script>
  import * as repo from "../../api/repositoryFacade";
  import InstrumentList from "../../components/InstrumentList.svelte";

  let getInstruments = repo.getInstruments();
</script>

<svelte:head>
  <title>Ayreon instruments</title>
</svelte:head>

<h1>Instruments</h1>

{#await getInstruments}
  <p>Loading</p>
{:then instruments}
  <InstrumentList {instruments} />
{:catch err}
  <p>{err}</p>
{/await}
