<script context="module">
  import * as repo from "../../api/repositoryFacade";
  import Song from "../../components/Song.svelte";

  export async function preload(page, session) {
    const { id } = page.params;
    const song = await repo.getSong(id);
    if (song) {
      return { song };
    } else {
      this.error(404, "Song not found");
    }
  }
</script>

<script>
  export let song;
</script>

<svelte:head>
  <title>{song.title}</title>
</svelte:head>

<Song {song} />
