<script>
  import * as repo from "../../api/repositoryFacade";
  import SongList from "../../components/SongList.svelte";

  let getSongs = repo.getSongs();
</script>

<svelte:head>
  <title>Ayreon Songs</title>
</svelte:head>

<h1>Songs</h1>

{#await getSongs}
  <p>Loading</p>
{:then songs}
  <SongList {songs} />
{:catch err}
  <p>{err}</p>
{/await}
