<script context="module">
  import * as repo from "../../api/repositoryFacade";
  import Artist from "../../components/Artist.svelte";

  export async function preload(page, session) {
    const { id } = page.params;
    const artist = await repo.getArtist(id);
    if (artist) {
      return { artist };
    } else {
      this.error(404, "Artist not found");
    }
  }
</script>

<script>
  export let artist;
</script>

<svelte:head>
  <title>{artist.name}</title>
</svelte:head>

<Artist {artist} />
