<script>
  import * as repo from "../../api/repositoryFacade";
  import ArtistList from "../../components/ArtistList.svelte";

  let getArtists = repo.getArtists();
  let getArtistsOnMostSongs = repo.getArtistsOnMostSongs();
  let getArtistsOnMostAlbums = repo.getArtistsOnMostAlbums();
</script>

<svelte:head>
  <title>Ayreon Artists</title>
</svelte:head>

<h1>Artists</h1>

{#await getArtists}
  <p>Loading</p>
{:then artists}
  <ArtistList {artists} />
{:catch err}
  <p>{err}</p>
{/await}

<h2>Artists on most songs</h2>

{#await getArtistsOnMostSongs}
  <p>Loading</p>
{:then artists}
  <ol>
    {#each artists as artist}
      <li>{artist[0].name} - {artist[1]}</li>
    {/each}
  </ol>
{:catch err}
  <p>{err}</p>
{/await}

<h3>Artists on most albums</h3>

{#await getArtistsOnMostAlbums}
  <p>Loading</p>
{:then artists}
  <ol>
    {#each artists as artist}
      <li>{artist[0].name} - {artist[1]}</li>
    {/each}
  </ol>
{:catch err}
  <p>{err}</p>
{/await}
