<script>
  import AlbumList from "./AlbumList.svelte";
  import SongInstrumentList from "./SongInstrumentList.svelte";
  import _ from "lodash";

  export let artist;
  $: albums = _.uniq(artist.songs.map(s => s.song.album));
</script>

<h1>{artist.name}</h1>

<h2>Albums</h2>
<AlbumList {albums} />

<h2>Songs</h2>
<SongInstrumentList songInstruments={artist.songs} />
