<script>
  export let artistInstruments;
</script>

<ol>
  {#each artistInstruments as { artist, instrument }}
    <li>
      <a rel="prefetch" href="artists/{artist.id}">{artist.name}</a>
      -
      <a rel="prefetch" href="instruments/{instrument.id}">{instrument.name}</a>
    </li>
  {/each}
</ol>
