<script>
  export let instruments;
</script>

<ul>
  {#each instruments as instrument}
    <li>
      <a rel="prefetch" href="instruments/{instrument.id}">{instrument.name}</a>
    </li>
  {/each}
</ul>
