<script>
  import ArtistList from "./ArtistList.svelte";

  export let instrument;
</script>

<h1>{instrument.name}</h1>

<h2>Artists</h2>
<ArtistList artists={instrument.artists.map(a => a.artist)} />
