<script>
  export let songInstruments;
</script>

<ol>
  {#each songInstruments as { song, instrument }}
    <li>
      <a rel="prefetch" href="songs/{song.id}">{song.title}</a>
      -
      <a rel="prefetch" href="instruments/{instrument.id}">{instrument.name}</a>
    </li>
  {/each}
</ol>
