<script context="module">
  import * as repo from "../../api/repositoryFacade";
  import Album from "../../components/Album.svelte";

  export async function preload(page, session) {
    const { id } = page.params;
    const album = await repo.getAlbum(id);
    if (album) {
      return { album };
    } else {
      this.error(404, "Album not found");
    }
  }
</script>

<script>
  export let album;
</script>

<svelte:head>
  <title>{album.title}</title>
</svelte:head>

<Album {album} />
