<script>
  import * as repo from "../../api/repositoryFacade";
  import AlbumList from "../../components/AlbumList.svelte";

  let getAlbums = repo.getAlbums();
</script>

<svelte:head>
  <title>Ayreon Albums</title>
</svelte:head>

<h1>Albums</h1>

{#await getAlbums}
  <p>Loading</p>
{:then albums}
  <AlbumList {albums} />
{:catch err}
  <p>{err}</p>
{/await}
